.section {
    animation: slideIn 1s ease;
}

@keyframes slideIn {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.bigh {
    transition: transform 0.3s ease, opacity 0.3s ease;
}
