body { 
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffffff, #f4f8ff);
    color: rgb(0, 0, 0);
    min-height: 100vh;
    overflow-x: hidden;
}
h1 { 
    color: #e38484; 
}
img {
    max-width: 700px; 
    margin-top: 20px; 
}
.section { 
    margin-bottom: 60px; 
}

.bigh {
    height: 100vh;

    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
}

.hero h1 {
    margin: 0;
}
