body { 
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffffff, #f4f8ff);
    color: rgb(0, 0, 0);
    min-height: 100vh;
    overflow-x: hidden;
    transition: background-color 0.8s ease;
}

h1 { 
    color: #e38484; 
}
img {
    max-width: 700px; 
    margin-top: 20px; 
}
.section { 
    margin-bottom: 60px; 
}

.bigh {
    height: 100vh;

    display: flex;

    align-items: center;     /* vertical */
}

.bigh h1 {
    margin: 0;
    justify-content: center; /* horizontal */
}

.bigh img {
    width: 50vw;
    height:300px;
    object-fit: cover;
}

  
body {
    margin: 0;
}
  
#i4wlz {
    z-index: 3;
    top: 379px;
    left: 134px;
    float: left;
    position: absolute;
}
  
#iyi3k {
    border-radius: 20px;
    top: 15vh;
    left: 19vh;
    z-index: 3;
}
  
#iiyzl {
    width: 30vw;
    border-radius: 20px;
    z-index: 13;
    overflow: auto;
    display: inline;
    position: absolute;
    left: 55%;
}
  
#iz1k4 {
    width: 148vw;
    overflow: clip;
    float: left;
    position: absolute;
    top: 0%;
    z-index: 0;
    height: 150vh;
    right: 0%;
}
  
.gjs-row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}
  
.gjs-cell {
    width: 8%;
    display: table-cell;
    height: 75px;
  }
  
.c11738 {
    width: 30vw;
    position: relative;
    top: 30vh;
    border-radius: 19px;
    left: 10vh;
}
  
.c47275 {
    float: clip;
    display: block;
    vertical-align: bottom;
}
  
@media (max-width: 768px) {
    .gjs-cell {
      width: 100%;
      display: block;
    }
}
  